.about {
}

.about-pic {
    padding: 5% 5% 5% 10%;
    width: 45%;
}

.about-text {
    width: 45%;
    display: inline-block;
}

.about-text h3{
    font-family: Heebo;
    font-size: 50px;
    font-weight: bold;
    color: #EFB954;
}

.about-text h4{
    font-family: Heebo;
    font-size: 30px;
    font-weight: 300;
    color: #EFB954;
    padding-bottom: 8%;
}

.about-text p{
    font-family: Heebo;
    font-size: 20px;
    color: #898989;
}