.experience {
    font-family: Heebo;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
}

.experience h4 {
    font-size: 80px;
    color: #E2B5B5;
    margin-bottom: 0%;
}

.experience h5 {
    font-size: 45px;
    color: #898989;
    font-weight: 100;
    margin-top: 0%;
    padding-bottom: 5%;
}

.experience-box {
    background-color: #F4F0EA;
    border-radius: 8px;
    width:100%;
    margin-bottom: 35px;
}

.amazon-theme {
    background-color: #EFB954;
}

.barclays-theme {
    background-color: #65A7D8;
}

.asi-theme {
    background-color: #E2B5B5;
}

.experience-box-text {
    width: 60%;
    padding: 4%;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    display: inline-block;
    position: relative;
}

.experience-box-text h4 {
    text-transform: uppercase;
    font-size: 25px;
    color: white;
    margin-bottom: 0%;
}

.experience-box-text h5 {
    font-size: 25px;
    font-weight: 300;
    color: white;
    margin-top: 0%;
}

.experience-box-text p {
    font-size: 20px;
    font-weight: 100;
    color: white;
    margin-top: 0%;
}

.experience-logo-box {
    background-color: #F4F0EA;
    width: 40%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 0;
}

.experience-logo {
    width: 100%;
    height: 100%;
    display: block;
    margin: auto;
}